:root {
  --background-color: #F5F7F8;
  --big-font: 3.3rem;
  --h2-font: 2.6rem;
  --p-font: 0.9rem;
  --text-color: #302e29;
}

.about {
  width: 100%;
   background:  #add8e6;
   border-top-left-radius: 100px;
}

.about .about-us {
  width: 80%;
  margin: 0px auto;
  height: 65vh;
  display: flex;
  gap: 80px;
  align-items: center;
}

.about-us-img img {
  transition: 0.4s ease;
}

.about-us-img img:hover {
  transform: translateX(8px);
}

.about-us h2 {
  font-size: var(--h2-font);
}

.about-us p {
  font-size: var(--p-font);
  line-height: 30px;
}

@media (max-width: 768px) {
 .about {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 800px;
  /* height: auto; */
 }

 .about .about-us {
  display: flex;
  flex-direction: column;

  /* height: 700px; */
  /* height: auto; */
  text-align: center;
 }

 .about-us-img img {
  width: 200px;
  /* margin-top: 10px; */
  position: relative;
  top: 44px;
}
}



