:root {
  --background-color: #F5F7F8;
  --big-font: 3.3rem;
  --h2-font: 2.6rem;
  --p-font: 0.9rem;
  --text-color: #302e29;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  background-color: #959494;
  background-color: #7c7b7b;
  /* background-color: yellowgreen; */
  /* background-color: #8b8a8a; */
  /* background-color: #2b2a2a; */
  color: var(--text-color);
  padding: 10px 0px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 30px;
}

.footer-logo  {
  margin: auto 0px;
}
.footer-logo img {
  width: 160px;
}

.doormat-navigation,
.contact-navigation,
.social-media-navigation {
  color: #f4f2f2;
  font-size: 0.85rem;
  /* color: #1b1bbe; */
}


.footer .doormat-navigation {
  font-size: var(--p-font);
  margin-left: 0px;
  color: #f1f1f1;
  cursor: pointer;
}

.footer .contact-navigation  {
  font-size: var(--p-font);
  margin-left: 0px;
  line-height: 1.5;
  color: #f1f1f1;
  cursor: pointer;
}

.footer .social-media-navigation p {
  font-size: var(--p-font);
  margin-left: 0px;
  color: #f1f1f1;
  cursor: pointer;
}



@media (max-width: 768px) {
  .footer {
    display: flex;
    gap: 0px;
    padding: 20px 0px;
    position: relative;
    margin-top: 790px;
    z-index: -1;
    height: 250px;
    /* text-align: left; */
    border-bottom-left-radius: 20px;
    width: 98%;
  }

  .footer-logo  {
  display: none;
}
.footer-logo img {
  display: none;
}

.footer .contact-navigation {
  /* display: none; */
  text-align: left;
  padding: 0px 10px;
}

.footer .contact-navigation h3 {
  text-align: left;
  padding: 0px 14px

}

.contact-navigation span {
  display: none;
}

.footer .doormat-navigation p {
  text-align: left;
  position: relative;
  left: 30px;
}

.footer .doormat-navigation h3 {
  position: relative;
  left: 40px;
}


.footer .contact-navigation p {
  text-align: left;
  padding: 0px 5px;
}

.footer .social-media-navigation p {
  text-align: left;
}

}

/* @media (min-width: 990px) {
  .footer {
    position: relative;
    
  }
} */