/* styles.css */

:root {
  --primary-color: #fdd835; /* Lemon Yellow */
  --secondary-color: #4caf50; /* Fresh Green */
  --accent-color: #ffffff; /* White */
  --text-color: #333333; /* Dark Gray for text */
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FAF5E9;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

/* Navigation.css */

nav {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  background-color: yellow;
}

nav .link {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

nav .logo {
  flex: 50%;
  align-items: center;
}

#homepage {
   background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('./components/Home/Little-Lemon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}